*.iml
.gradle
/local.properties
.DS_Store
.idea
/captures
.externalNativeBuild
/build
/.idea/misc.xml
app/app-release.apk
app/release/app-release.apk
app/release/output.json
captures/
*.apk

**/*.iml
**/.gradle
**/local.properties
**/.DS_Store
**/.idea
**/captures
**/.externalNativeBuild
**/build
**/.idea/misc.xml
**/app/app-release.apk
**/app/release/app-release.apk
**/app/release/output.json
**/captures/
**/out/
**/*.apk