<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studentsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.StudentListActivity"></activity>
        <activity android:name=".activity.CourseListActivity" />
        <activity android:name=".activity.PersonDetailActivity" />
        <activity
            android:name=".activity.PersonEditActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activity.StudentAddActivity" />
        <activity android:name=".activity.CourseAddActivity" />
        <activity android:name=".activity.MyTimetableActivity" />
        <activity android:name=".activity.MyCourseActivity" />
        <activity
            android:name=".activity.CourseEditActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activity.CourseDetailActivity" />
        <activity android:name=".activity.CourseChooseActivity" />
        <activity
            android:name=".activity.RegisterActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>

</manifest>